# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
/target

out
gen
/.gitignore
!/.gitignore

/constant-values.html
/help-doc.html
/Product.html
/type-search-index.js
/stylesheet.css
/member-search-index.js
/allclasses-index.html
/overview-tree.html
/Selling.html
/Wallet.html
/script.js
/type-search-index.zip
/salepointmenager.html
/element-list
/deprecated-list.html
/package-search-index.zip
/allpackages-index.html
/package-search-index.js
/allclasses.html
/package-summary.html
/member-search-index.zip
/search.js
/index.html
/package-tree.html
/salepoint.iml
/ProductMenager.html
/resources/
/jquery/
/index-files/
